.ant-modal-content {

    // .ant-modal-body {
    // }
    * {
        text-align: start;
    }

    .ant-modal-close {
        left: -8px;
        top: 3px;
        right: unset;
    }

    .ant-modal-confirm-btns {
        display: flex;
        gap: 8px;
        justify-content: end;
        width: 100%;
    }
}




.ant-modal-footer {
    display: flex;
    gap: 8px;
    justify-content: end;

    .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
        margin: unset;
    }
}