@font-face {
  font-family: YekanBakhFaRegular;
  src: url('/managerAssist/fonts/yekanbakh/YekanBakh-Fa-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YekanBakhFaMedium;
  src: url('/managerAssist/fonts/yekanbakh/YekanBakh-Fa-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YekanBakhFaLight;
  src: url('/managerAssist/fonts/yekanbakh/YekanBakh-Fa-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YekanBakhFaBold;
  src: url('/managerAssist/fonts/yekanbakh/YekanBakh-Fa-Bold.woff') format('woff');
  font-display: swap;
}